.col-sm-4{background-color:blue;}
.container{background-color:grey;
  margin-right:300px;
}

#banner{
  left:89%;
  width:10%;
  height:98%;
  margin-top:10%;
  margin-left:2%;
  background-color:green;
  position:relative;
}

.col-sm-2{
  background-color:orange;
}

#masnoticias{
  background-color:pink;
  left:50%;
  width:3%;
  height:3%;
   
}

#foto1{
  
}
#foto2{
}

#descripcio1{
  background-color:red;
}

#descripcio2{
  background-color:brown;
}

.row{ background-color: lightblue; }
  
