#titulo{
  background:url('../img/betweengrassandsky.png') 50% 50% no-repeat;
  /*background-size: 90% 90%;*/
  color:white; 
}

/*.col-sm-5{background-color:blue;}*/

.container{
  background-color:white;
  margin-right:300px;
}

#banner{
  left:89%;
  width:290px;
  height:15%;
  margin-top:10%;
  margin-left:90%;
  background-color:green;
  position:fixed;
}
/*#banner>img{
  background-size:contain;
}*/
.col-sm-2{
  background-color:orange;
}

#masnoticias{
  background-color:pink;
  left:50%;
  width:3%;
  height:3%;
   
}

body {
    max-width: 99%;
}

#foto1>img{
     /*background-image: url("");*/
     max-width:100%;
     position: relative;
}

#foto2>img{
     max-width:100%;
     position: relative;
}

#foto3>img{
     max-width:100%;
     position: relative;
}

#descrip{
  background-color:lightgreen;
  text-align:left;
}

p{
  text-shadow: 0.1em 0.1em #ffffff
}

/*#descripcio2{
  background-color:brown;
}*/

.row{ background-color: lightblue; }

.footer{ background-color:#b0ff99; }
